/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/app
/artisan
.env.example
.gitattributes
/bootstrap
composer.*
/config
/database/.gitignore
/database/factories
/database/migrations/.gitkeep
/database/migrations/2014*
/database/seeds
gulpfile.js
package.json
phpunit.xml
/public
readme.md
/resources
server.php
/storage
/tests