/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

/app/Console
/app/Events
/app/Exceptions
/app/Http/Controllers
/app/Http/Kernel.php
/app/Http/Middleware
/app/Http/Requests
/app/Jobs
/app/Listeners
/app/Policies
/app/Providers
/app/*.php
/artisan
.env.example
.gitattributes
/bootstrap
composer.*
/config
/database/.gitignore
/database/factories
/database/migrations/.gitkeep
/database/migrations/2014*
/database/seeds
gulpfile.js
package.json
phpunit.xml
/public
readme.md
/resources/assets
/resources/lang
/resources/views/errors
/resources/views/vendor
/resources/views/welcome.blade.php
server.php
/storage
/tests